SUPABASE_URL=https://hthlqwwiwkpiugdeyatz.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh0aGxxd3dpd2twaXVnZGV5YXR6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjAzNzAyNTIsImV4cCI6MjA3NTk0NjI1Mn0.7MSb_QSkBKHgMF7QWVGsZNcw5T930uzvhD838u2M8XE
